<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let data"> {{data.a}} </td>
  </ng-container>

  <ng-container matColumnDef="campaignid">
    <th mat-header-cell *matHeaderCellDef> Campaign id </th>
    <td mat-cell *matCellDef="let data"> {{data.campaignid}} </td>
  </ng-container>

  <ng-container matColumnDef="userid">
    <th mat-header-cell *matHeaderCellDef> User id </th>
    <td mat-cell *matCellDef="let data"> {{data.userid}} </td>
  </ng-container>

  <ng-container matColumnDef="camp_cpc">
    <th mat-header-cell *matHeaderCellDef> CPC </th>
    <td mat-cell *matCellDef="let data"> {{data.camp_cpc}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let data"> {{data.date}} </td>
  </ng-container>

  <ng-container matColumnDef="frienddomainid">
    <th mat-header-cell *matHeaderCellDef> Friend domain id </th>
    <td mat-cell *matCellDef="let data"> {{data.frienddomainid}} </td>
  </ng-container>

  <ng-container matColumnDef="freeclick">
    <th mat-header-cell *matHeaderCellDef> Free click </th>
    <td mat-cell *matCellDef="let data"> {{data.freeclick}} </td>
  </ng-container>

  <ng-container matColumnDef="network">
    <th mat-header-cell *matHeaderCellDef> Network </th>
    <td mat-cell *matCellDef="let data"> {{data.network}} </td>
  </ng-container>

  <ng-container matColumnDef="PlistaProduct">
    <th mat-header-cell *matHeaderCellDef> Product </th>
    <td mat-cell *matCellDef="let data"> {{data.PlistaProduct}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!--TABLE PAGINATOR-->
<mat-paginator
  [length]="dataSource.data.length"
  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
</mat-paginator>
