<div *ngIf="campaignData">
  <mat-card-title>
    <h3>Details</h3>
  </mat-card-title>
  <mat-card-content>
    <div><span>id: </span>{{campaignData.a}}</div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>camp_cpc</mat-label>
        <input matInput
               id="camp_cpc"
               type="number"
               min="0"
               step="any"
               formControlName="camp_cpc"/>
      </mat-form-field>
      <br>
      <div formGroupName="datetime">
        <mat-form-field>
          <mat-label>date</mat-label>
          <input matInput
                 id="date"
                 [max]="maxDate"
                 [matDatepicker]="picker"
                 formControlName="date"/>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="month"></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field>
          <!--@TODO - time cannot be in the future. Will have to create a custom validator for this since the max property doesn't work-->
          <mat-label>time</mat-label>
          <input matInput
                 id="time"
                 type="time"
                 formControlName="time"/>
        </mat-form-field>
      </div>
      <div *ngIf="form.get('datetime').invalid && form.get('datetime').errors">
        <span *ngIf="form.get('datetime').errors['dateTimeInvalid']">The time cannot be in the future</span>
        <span *ngIf="form.get('datetime').errors['required']">This field is required</span>
      </div>
      <br>
        <mat-checkbox id="freeclick" formControlName="freeclick">Freeclick</mat-checkbox>
      <br>
      <mat-radio-group id="networks" formControlName="networks">
        <mat-radio-button *ngFor="let network of networks" [value]="network">{{network}}</mat-radio-button>
      </mat-radio-group>
      <br>
      <mat-form-field>
        <mat-label>PlistaProduct</mat-label>
        <mat-select id="PlistaProduct" formControlName="PlistaProduct">
          <mat-option *ngFor="let product of products" [value]="product">
            {{product}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <button mat-raised-button>go back</button>
      <button mat-raised-button>save</button>
    </form>
  </mat-card-content>
</div>
